<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input - Rock Paper Scissors</title>
</head>
<body>
<h1>TESTING</h1>

<div class="game_form">
<form action="Output.html" th:action="@{Output}" th:object="${game}">
    <label><input type="radio" th:field="*{choice}" th:value="0">Rock</label>
    <label><input type="radio" th:field="*{choice}" th:value="1">Paper</label>
    <label><input type="radio" th:field="*{choice}" th:value="2">Scissors</label><br>
    <input type="hidden" th:field="*{computer}" th:value="${game.setComputer()}" >
    <input type="submit" value="PLAY">
</form>
</div>
</body>
</html>