<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>

    <title>Input - Rock Paper Scissors</title>
</head>
<body>
<div class="game_form">
    <h1>Rock, Paper, Scissors!</h1>
    <p>Make your selection:</p>
<form action="Output.html" th:action="@{Output}" th:object="${game}">

    <div th:if="${#fields.hasErrors('*')}">
        <h3 class="error">Input Errors</h3>
        <ul>
            <li class="error" th:each="e: ${#fields.errors('*')}" th:text="${e}">Input Error</li>
        </ul>
    </div>

<div class="choices">
    <input type="radio" th:field="*{choice}" th:value="0">
    <label th:for="${#ids.prev('choice')}" class="rock"></label>

    <input type="radio" th:field="*{choice}" th:value="1">
    <label th:for="${#ids.prev('choice')}" class="paper"></label>

    <input type="radio" th:field="*{choice}" th:value="2">
    <label th:for="${#ids.prev('choice')}" class="scissors"></label>
</div>

    <input type="submit" value="PLAY">
</form>
</div>
</body>
</html>