<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Output - Rock Paper Scissors</title>
</head>
<body>
<h1>Game Result</h1>
<div th:switch="${game.getChoice()}">
    Your choice: <span th:case="0">Rock</span>
                 <span th:case="1">Paper</span>
                 <span th:case="2">Scissors</span><br>
</div>

<div th:switch="${game.getComputer()}">
    Computers choice: <span th:case="0">Rock</span>
                      <span th:case="0">Rock</span>
                      <span th:case="0">Rock</span><br>
</div>
<div>
    WINS! <br>

    <div class = "button">Play Again!</div>
</div>

</body>
</html>