<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <title>Output - Rock Paper Scissors</title>
</head>
<body>
<h1>Game Result</h1>

<table class="results_table">
    <thead>
    <tr>
        <th>Your Choice!</th>
        <th> </th>
        <th>Computer!</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:switch="${game.getChoice()}">
            <span th:case="0"><img class="output_image" src="/images/rock.png"></span>
            <span th:case="1"><img class="output_image" src="/images/paper.png"></span>
            <span th:case="2"><img class="output_image" src="/images/scissors.png"></span>
        </td>
        <td> </td>
        <td th:switch="${game.getComputer()}">
            <span th:case="0"><img class="output_image" src="/images/rock.png"></span>
            <span th:case="1"><img class="output_image" src="/images/paper.png"></span>
            <span th:case="2"><img class="output_image" src="/images/scissors.png"></span>
        </td>
    </tr>
    </tbody>
</table>

<div class="win_lose_tie tie" th:if="${game.isTie()}">Game was a tie!</div>
<div class="win_lose_tie win" th:if="${game.isWin()}">You won!</div>
<div class="win_lose_tie lose" th:if="${game.isLoss}">Computer won!</div>
<br>

<a th:href="Input" class="button">Play Again!</a>


</body>
</html>